@* @model List<DeathWishCoffee.Models.Main.Order> *@
@{
    ViewData["Title"] = "All Orders By User";
    var userId = ViewBag.UserId;
}

<div class="bg-light p-3 overflow-scroll">
    <a href="/admin" class="btn btn-secondary mb-3">
        Back
    </a>

    <h2 class="AllOrdersByUser__tiltle">Orders By User: @userId</h2>
    <table class="table">
        <thead>
            <tr class="AllOrderByUser__Content-type">
                <th class="AllOrderByUser__type">Name User</th>
                <th class="AllOrderByUser__type">Phone</th>
                <th class="AllOrderByUser__type">Email</th>
                <th class="AllOrderByUser__type">Quantity Purchased</th>
                <th class="AllOrderByUser__type">ID</th>
                <th class="AllOrderByUser__type">Total Amount</th>
                <th class="AllOrderByUser__type">Status</th>
                <th class="AllOrderByUser__type">Products</th>
                <th class="AllOrderByUser__type">CreatedAt</th>
                <th class="AllOrderByUser__type">LastModifiedAt</th>
                <th class="AllOrderByUser__type">Delete</th>
                <th class="AllOrderByUser__type">Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td class="AllOrderByUser__type">@order.Firstname @order.Lastname</td>
                    <td class="AllOrderByUser__type">@order.Phone</td>
                    <td class="AllOrderByUser__type">@order.Email</td>
                    <td class="AllOrderByUser__type">
                    </td>
                    <td class="AllOrderByUser__type">@order.Id</td>
                    <td class="AllOrderByUser__type">@order.TotalAmount</td>
                    <td class="AllOrderByUser__type">@order.Status</td>
                    <td class="AllOrderByUser__type">
                        @if (order.OrderDetails != null && order.OrderDetails.Count > 0)
                        {
                            @foreach (var oD in order.OrderDetails)
                            {
                                <p>@oD.Product?.Title</p>
                            }
                        }
                    </td>
                    <td class="AllOrderByUser__type">@order.CreatedAt</td>
                    <td class="AllOrderByUser__type">@order.LastModifiedAt</td>
                    <td class="AllOrderByUser__type">
                        <a href="/admin/orders/delete/@order.Id" class="btn btn-danger">Delete</a>
                    </td>
                    <td class="AllOrderByUser__type">
                        <a href="/admin/orders/edit/@order.Id" class="btn btn-info">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>