@* @model List<DeathWishCoffee.Models.Main.Order> *@
@{
    ViewData["Title"] = "All Orders By User";
    var userId = ViewBag.UserId;
}

<div class="bg-light pt-5 overflow-scroll">
    <a href="/admin" class="btn btn-secondary mb-3">
        Back
    </a>

    <h2 class="AllOrdersByUser__tiltle">Orders By User: @userId</h2>
    <table class="table">
        <thead>
            <tr class="AllOrderByUser__Content-type">
                <th class="AllOrderByUser__type">Name User</th>
                <th class="AllOrderByUser__type">Phone</th>
                <th class="AllOrderByUser__type">Email</th>
                <th class="AllOrderByUser__type">Quantity Purchased</th>
                <th class="AllOrderByUser__type">ID</th>
                <th class="AllOrderByUser__type">Total Amount</th>
                <th class="AllOrderByUser__type">Status</th>
                <th class="AllOrderByUser__type">Products</th>
                <th class="AllOrderByUser__type">CreatedAt</th>
                <th class="AllOrderByUser__type">LastModifiedAt</th>
                <th class="AllOrderByUser__type">Delete</th>
                <th class="AllOrderByUser__type">Edit</th>
            </tr>
            <tr class="AllOrderByUser__Content-type">
                <td class="AllOrderByUser__type">John Doe</td>
                <td class="AllOrderByUser__type">123-456-7890</td>
                <td class="AllOrderByUser__type">john.doe@example.com</td>
                <td class="AllOrderByUser__type">5</td>
                <td class="AllOrderByUser__type">1</td>
                <td class="AllOrderByUser__type">$50.00</td>
                <td class="AllOrderByUser__type">Shipped</td>
                <td class="AllOrderByUser__type">DARK SPIRITS CHOCOLATE RUM BALL</td>
                <td class="AllOrderByUser__type">2023-11-16</td>
                <td class="AllOrderByUser__type">2023-11-16</td>
                <td class="AllOderStatistic__type"><button class="AllOrderByUser__Delete">Delete</button></td>
                <td class="AllOderStatistic__type"><button class="AllOrderByUser__Edit">Edit</button>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        <a href="/admin/orders/delete/@order.Id" class="btn btn-danger">Delete</a>
                    </td>
                    <td>
                        <a href="/admin/orders/edit/@order.Id" class="btn btn-info">Edit</a>
                    </td>

                    <td>@order.Id</td>
                    <td>@order.TotalAmount</td>
                    <td>@order.Status</td>
                    <td>
                        @if (order.OrderDetails != null && order.OrderDetails.Count > 0)
                        {
                            @foreach (var oD in order.OrderDetails)
                            {
                                <p>@oD.Product?.Title</p>
                            }
                        }
                    </td>
                    <td>@order.CreatedAt</td>
                    <td>@order.LastModifiedAt</td>
                </tr>
            }
        </tbody>
    </table>
</div>