@model List<DeathWishCoffee.Models.Domain.Order>
@{
    ViewData["Title"] = "All Orders Page";
}

<div class="bg-light pt-5 overflow-scroll">
    <a href="/admin" class="btn btn-secondary mb-3">
        Back
    </a>

    <h2>Orders List:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Delete</th>
                <th>Edit</th>
                <th>Order Detail</th>
                <th>This user's orders</th>

                <th>ID</th>
                <th>User ID</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Products</th>
                <th>CreatedAt</th>
                <th>LastModifiedAt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        <a href="/admin/orders/delete/@order.Id" class="btn btn-danger">Delete</a>
                    </td>
                    <td>
                        <a href="/admin/orders/edit/@order.Id" class="btn btn-info">Edit</a>
                    </td>
                    <td>
                        <a href="/admin/orders/detail/@order.Id" class="btn btn-warning">Detail</a>
                    </td>
                    <td>
                        <a href="/admin/orders/@order.UserId" class="btn btn-success">This user's orders</a>
                    </td>

                    <td>@order.Id</td>
                    <td>@order.UserId</td>
                    <td>@order.TotalAmount</td>
                    <td>@order.Status</td>
                    <td>
                        @if (order.OrderDetails != null && order.OrderDetails.Count > 0)
                        {
                            @foreach (var oD in order.OrderDetails)
                            {
                                <p>@oD.Product?.Title</p>
                            }
                        }
                    </td>
                    <td>@order.CreatedAt</td>
                    <td>@order.LastModifiedAt</td>
                </tr>
            }
        </tbody>
    </table>
</div>