@model List<DeathWishCoffee.Models.Main.Product>
@{
    ViewData["Title"] = "All Products Page";
}

<div class="admin bg-light p-3 overflow-scroll">
    <div class="d-flex justify-content-center">
        <div class="btn-group mt-5" role="group" aria-label="Basic outlined example">
            <a href="/admin" class="btn btn-outline-primary">Admin</a>
            <a href="/admin/users" class="btn btn-outline-primary">Users</a>
            <a href="/admin/products" class="btn btn-outline-primary">Products</a>
            <a href="/admin/orders" class="btn btn-outline-primary">Orders</a>
            <a href="/admin/reviews" class="btn btn-outline-primary">Reviews</a>
            <a href="/admin/attributes" class="btn btn-outline-primary">Attributes</a>
            <a href="/admin/details" class="btn btn-outline-primary">Details</a>
            <a href="/admin/flavors" class="btn btn-outline-primary">Flavors</a>
            <a href="/admin/flavor-profiles" class="btn btn-outline-primary">Flavor Profiles</a>
            <a href="/admin/formats" class="btn btn-outline-primary">Formats</a>
            <a href="/admin/types" class="btn btn-outline-primary">Types</a>
            <a href="/admin/images" class="btn btn-outline-primary">Images</a>
        </div>
    </div>

    <div class="d-flex align-items-center gap-3 mt-5" style="border-bottom: 2px solid #000;padding-bottom: 5px;">
        <h1 class="d-inline m-0">Product List:</h1>
        <a href="/admin/products/add" class="btn btn-success">Add Product</a>
    </div>


    <ul class="product-list pt-4" style="padding-top: 5px;">
        @foreach (var product in Model)
        {
            <li class="product-item mb-4" style="border-bottom: 1px solid #000;padding-top: 2px">
                <a hef="/admin/products/delete/@product.Id" class="btn btn-danger">Delete</a>
                <a href="/admin/products/edit/@product.Id" class="btn btn-info">Edit</a>
                <a href="/admin/reviews/add/@product.Id" class="btn btn-warning">Review</a>

                <ul class="product-details">
                    <li><strong>ID:</strong> @product.Id</li>
                    <li><strong>Title:</strong> @product.Title</li>
                    <li><strong>Subtitle:</strong> @product.Subtitle</li>
                    <li><strong>Description:</strong> @* @product.Description *@</li>
                    <li><strong>Subscribe And Save:</strong> @product.SubscribeAndSave</li>
                    <li><strong>Note:</strong> @product.Note</li>
                    <li><strong>PrimaryColor:</strong> @product.PrimaryColor</li>
                    <li><strong>Remain:</strong> @product.Remain</li>

                    <li><strong>Sizes:</strong>
                        @if (product.Sizes != null && product.Sizes.Count > 0)
                        {
                            <ul class="size-list">
                                @foreach (var item in product.Sizes)
                                {
                                    <li>@item.Label-@item.Price-@item.Text</li>
                                }
                            </ul>
                        }
                    </li>

                    <li><strong>InsideTypes:</strong>
                        @if (product.InsideTypes != null && product.InsideTypes.Count > 0)
                        {
                            <ul class="inside-type-list">
                                @foreach (var item in product.InsideTypes)
                                {
                                    <li>@item.Label</li>
                                }
                            </ul>
                        }
                    </li>

                    <li><strong>FlavorProfiles:</strong>
                        @if (product.FlavorProfiles != null && product.FlavorProfiles.Count > 0)
                        {
                            <ul class="flavor-profile-list">
                                @foreach (var item in product.FlavorProfiles)
                                {
                                    <li>@item.Label-@item.Text</li>
                                }
                            </ul>
                        }
                    </li>

                    <li><strong>Attributes:</strong>
                        @if (product.Attributes != null && product.Attributes.Count > 0)
                        {
                            <ul class="attribute-list">
                                @foreach (var item in product.Attributes)
                                {
                                    <li>
                                        <span>@item.Label:</span>
                                        <span>@item.MinLabel-@item.Value-@item.MaxLabel</span>
                                    </li>
                                }
                            </ul>
                        }
                    </li>

                    <li><strong>Details:</strong>
                        @if (product.Details != null && product.Details.Count > 0)
                        {
                            <ul class="detail-list">
                                @foreach (var item in product.Details)
                                {
                                    <li>@item.Label-@item.Text</li>
                                }
                            </ul>
                        }
                    </li>

                    <li><strong>Images:</strong>
                        @if (product.Images != null && product.Images.Count > 0)
                        {
                            <ul class="image-list" style="display: flex;">
                                @foreach (var item in product.Images)
                                {
                                    <li><img src="@item.Src" alt="thumb" width="50" height='50' style="object-fit: cover;" /></li>
                                }
                            </ul>
                        }
                    </li>

                    <li><strong>Types:</strong>
                        @if (product.Types != null && product.Types.Count > 0)
                        {
                            <ul class="type-list">
                                @foreach (var item in product.Types)
                                {
                                    <li>@item.Text</li>
                                }
                            </ul>
                        }
                    </li>

                    <li><strong>Formats:</strong>
                        @if (product.Formats != null && product.Formats.Count > 0)
                        {
                            <ul class="format-list">
                                @foreach (var item in product.Formats)
                                {
                                    <li>@item.Text</li>
                                }
                            </ul>
                        }
                    </li>

                    <li><strong>Roasts:</strong>
                        @if (product.Roasts != null && product.Roasts.Count > 0)
                        {
                            <ul class="roast-list">
                                @foreach (var item in product.Roasts)
                                {
                                    <li>@item.Text</li>
                                }
                            </ul>
                        }
                    </li>

                    <li><strong>Flavors:</strong>
                        @if (product.Flavors != null && product.Flavors.Count > 0)
                        {
                            <ul class="flavor-list">
                                @foreach (var item in product.Flavors)
                                {
                                    <li>@item.Text</li>
                                }
                            </ul>
                        }
                    </li>

                    <li><strong>Symbols:</strong>
                        @if (product.Symbols != null && product.Symbols.Count > 0)
                        {
                            <ul class="symbol-list">
                                @foreach (var item in product.Symbols)
                                {
                                    <li>@item.Title</li>
                                }
                            </ul>
                        }
                    </li>

                    <li><strong>Reviews:</strong>
                        @if (product.Reviews != null && product.Reviews.Count > 0)
                        {
                            <ul class="review-list">
                                @foreach (var item in product.Reviews)
                                {
                                    <li>@item.Title</li>
                                }
                            </ul>
                        }
                    </li>

                    <li><strong>Rating:</strong> ___Rating___</li>
                    <li><strong>Number of Reviews:</strong>
                        @if (product.Reviews != null)
                        {
                            <span>@product.Reviews.Count</span>
                        }
                    </li>
                    <li><strong>Amount Sold:</strong> ___Amount_Sold___</li>
                    <li><strong>CreatedAt:</strong> @product.CreatedAt</li>
                    <li><strong>LastModifiedAt:</strong> @product.LastModifiedAt</li>
                    <br>
                </ul>
            </li>
        }
    </ul>
</div>
<style>
    .btn-secondary {
        color: #fff;
        background-color: #565e64;
    }

    .btn-secondary:hover {
        color: #fff;
        background-color: #000;
        border: 1px solid #565e64;
    }

    .btn-danger {
        color: #fff;

    }

    .btn-danger:hover {
        color: red;
        background-color: #000;
        border: 1px solid red;
    }

    .btn-info:hover {
        color: #3132f2;
        background-color: #000;
        border: 1px solid #3132f2;
    }

    .btn-warning:hover {
        color: #ffc239;
        background-color: #000;
        border: 1px solid #ffc239;
    }

    .btn-success:hover {
        color: #157347;
        background-color: #000;
        border: 1px solid #157347;
    }
</style>