@model List<DeathWishCoffee.Models.Main.Review>
@{
    ViewData["Title"] = "All Reviews Page";
}

<div class="bg-light p-3 mt-5 overflow-scroll">
    <div class="d-flex justify-content-center">
        <div class="btn-group mt-5" role="group" aria-label="Basic outlined example">
            <a href="/admin" class="btn btn-outline-primary">Admin</a>
            <a href="/admin/users" class="btn btn-outline-primary">Users</a>
            <a href="/admin/products" class="btn btn-outline-primary">Products</a>
            <a href="/admin/orders" class="btn btn-outline-primary">Orders</a>
            <a href="/admin/reviews" class="btn btn-outline-primary">Reviews</a>
            <a href="/admin/attributes" class="btn btn-outline-primary">Attributes</a>
            <a href="/admin/details" class="btn btn-outline-primary">Details</a>
            <a href="/admin/flavors" class="btn btn-outline-primary">Flavors</a>
            <a href="/admin/flavor-profiles" class="btn btn-outline-primary">Flavor Profiles</a>
            <a href="/admin/formats" class="btn btn-outline-primary">Formats</a>
            <a href="/admin/types" class="btn btn-outline-primary">Types</a>
            <a href="/admin/images" class="btn btn-outline-primary">Images</a>
        </div>
    </div>

    <h1 class="mt-5">Reviews List:</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Delete</th>
                <th>Edit</th>
                <th>ID</th>
                <th>ProductId</th>
                <th>Rating</th>
                <th>Username</th>
                <th>Title</th>
                <th>Text</th>
                <th>CreatedAt</th>
                <th>LastModifiedAt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Model)
            {
                <tr>
                    <td>
                        <form method="post" action="/admin/reviews/delete/@review.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    <td>
                        <a href="/admin/reviews/edit/@review.Id" class="btn btn-info">Edit</a>
                    </td>
                    <th>@review.Id</th>
                    <th>@review.ProductId</th>
                    <th>@review.Rating</th>
                    <th>@review.Username</th>
                    <th>@review.Title</th>
                    <th>@review.Text</th>
                    <th>@review.CreatedAt</th>
                    <th>@review.LastModifiedAt</th>
                </tr>
            }
        </tbody>
    </table>
</div>