@model List<DeathWishCoffee.Models.Main.User>
@{
    ViewData["Title"] = "All Users Page";
}

<div class="bg-light pt-5 overflow-scroll">
    <a href="/admin" class="btn btn-secondary mb-3">
        Back
    </a>

    <h2>User List:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Delete</th>
                <th>Edit</th>
                <th>Order</th>
                <th>Cart</th>
                <th>Add To Cart</th>


                <th>ID</th>
                <th>Avatar</th>
                <th>Fullname</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone</th>
                <th>Country</th>
                <th>Address</th>
                <th>Created At</th>
                <th>Last Modified At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        <form method="post" action="/admin/users/delete/@user.Id">
                            <button type="submit" class="btn btn-danger w-100">Delete</button>
                        </form>
                    </td>
                    <td>
                        <a href="/admin/users/edit/@user.Id" class="btn btn-info">Edit</a>
                    </td>
                    <td>
                        <a href="/admin/orders/add/@user.Id" class="btn btn-warning">Order</a>
                    </td>
                    <td>
                        <a href="/cart/@user.Id" class="btn btn-success">Cart</a>
                    </td>
                    <td>
                        <a href="/cart/add/@user.Id" class="btn btn-secondary">Add To Cart</a>
                    </td>

                    <td>@user.Id</td>
                    <td>
                        <img src="~/uploads/@user.Avatar" alt="avatar" width="100px">
                    </td>
                    <td>@user.Fullname</td>
                    <td>@user.FirstName</td>
                    <td>@user.MiddleName</td>
                    <td>@user.LastName</td>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                    <td>@user.Phone</td>
                    <td>@user.Country</td>
                    <td>@user.Address</td>
                    <td>@user.CreatedAt</td>
                    <td>@user.LastModifiedAt</td>
                </tr>
            }
        </tbody>
    </table>
</div>