<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeathWishCoffee</title>
    <link rel="stylesheet" href="~/fonts/Fenomen-Sans-SemiBold.otf">
    <link rel="stylesheet" href="~/fonts/Revans-Bold.otf">
    <link rel="stylesheet" href="~/fonts/Fenomen-Sans-Bold.woff2">
    <link rel="stylesheet" href="~/fonts/Fenomen-Sans-Book.woff2">
    <link rel="stylesheet" href="~/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2">
    <link rel="stylesheet" href="~/fonts/proximanova-regular.woff2">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeathWishCoffee.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/components/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/sign-up.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/ritual-rewards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/hero.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/icon-title.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/title.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/catalogue.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/swipe-carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/shopify.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/subscription.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/features.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/take-quiz.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/products.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/sub-header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/order-form.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/social-carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/post-carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/tiktok-modal.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/text-template.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/banner.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/icon-template.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/timeline.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/split-section.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/product-detail.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/search-result.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/review.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/bolt.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/blog.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/start-quiz.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/quiz.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/collection-item.css" asp-append-version="true" />
</head>

<body>
    @Html.Partial("../../components/Header.cshtml")
    @Html.Partial("../../components/RitualRewards.cshtml")

    <div class="container" style="height: 200vh; padding-top: 200px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @Html.Partial("../../components/SignUp.cshtml")
    @Html.Partial("../../components/Footer.cshtml")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/58516b09e7.js" crossorigin="anonymous"></script>

    <script src="~/js/components/header.js" type="module"></script>
    <script src="~/js/components/footer.js" type="module"></script>
    <script src="~/js/components/sign-up.js" type="module"></script>
    <script src="~/js/components/ritual-rewards.js" type="module"></script>
    <script src="~/js/components/hero.js" type="module"></script>
    <script src="~/js/components/carousel.js" type="module"></script>
    <script src="~/js/components/icon-title.js" type="module"></script>
    <script src="~/js/components/title.js" type="module"></script>
    <script src="~/js/components/catalogue.js" type="module"></script>
    <script src="~/js/components/swipe-carousel.js" type="module"></script>
    <script src="~/js/components/shopify.js" type="module"></script>
    <script src="~/js/components/subscription.js" type="module"></script>
    <script src="~/js/components/features.js" type="module"></script>
    <script src="~/js/components/take-quiz.js" type="module"></script>
    <script src="~/js/components/products.js" type="module"></script>
    <script src="~/js/components/sub-header.js" type="module"></script>
    <script src="~/js/components/order-form.js" type="module"></script>
    <script src="~/js/components/social-carousel.js" type="module"></script>
    <script src="~/js/components/post-carousel.js" type="module"></script>
    <script src="~/js/components/tiktok-modal.js" type="module"></script>
    <script src="~/js/components/text-template.js" type="module"></script>
    <script src="~/js/components/banner.js" type="module"></script>
    <script src="~/js/components/icon-template.js" type="module"></script>
    <script src="~/js/components/timeline.js" type="module"></script>
    <script src="~/js/components/split-section.js" type="module"></script>
    <script src="~/js/components/account.js" type="module"></script>
    <script src="~/js/components/register.js" type="module"></script>
    <script src="~/js/components/product-detail.js" type="module"></script>
    <script src="~/js/components/search-result.js" type="module"></script>
    <script src="~/js/components/review.js" type="module"></script>
    <script src="~/js/components/bolt.js" type="module"></script>
    <script src="~/js/components/blog.js" type="module"></script>
    <script src="~/js/components/start-quiz.js" type="module"></script>
    <script src="~/js/components/quiz.js" type="module"></script>
    <script src="~/js/components/collection-item.js" type="module"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
