<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DeathWishCoffee</title>
    <link rel="stylesheet" href="~/fonts/Fenomen-Sans-SemiBold.otf">
    <link rel="stylesheet" href="~/fonts/Revans-Bold.otf">
    <link rel="stylesheet" href="~/fonts/Fenomen-Sans-Bold.woff2">
    <link rel="stylesheet" href="~/fonts/Fenomen-Sans-Book.woff2">
    <link rel="stylesheet" href="~/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2">
    <link rel="stylesheet" href="~/fonts/proximanova-regular.woff2">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DeathWishCoffee.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/components/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/big-title1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/big-title2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/blog-banner.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/blog-carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/blog-content.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/card-content.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/cards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/carousel1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/content-banner1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/content-banner2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/content-banner3.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/content-banner4.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/content-banner5.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/direction-heading.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/features.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/incentives.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/join-following.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/product-detail.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/products.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/related-products.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/review.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/ritual-rewards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/search-result.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/sign-up.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/slideshow.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/split-content1.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/split-cotent2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/tiktok-cards.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/timeline.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/title.css" asp-append-version="true" />

</head>

<body>
    @Html.Partial("../../components/Header.cshtml")
    @Html.Partial("../../components/RitualRewards.cshtml")

    <div class="container" style="height: 200vh; padding-top: 200px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @Html.Partial("../../components/SignUp.cshtml")
    @Html.Partial("../../components/Footer.cshtml")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/58516b09e7.js" crossorigin="anonymous"></script>

    <script src="~/js/components/header.js" type="module"></script>
    <script src="~/js/components/account.js" type="module"></script>
    <script src="~/js/components/big-title1.js" type="module"></script>
    <script src="~/js/components/big-title2.js" type="module"></script>
    <script src="~/js/components/blog-banner.js" type="module"></script>
    <script src="~/js/components/blog-carousel.js" type="module"></script>
    <script src="~/js/components/blog-content.js" type="module"></script>
    <script src="~/js/components/card-content.js" type="module"></script>
    <script src="~/js/components/cards.js" type="module"></script>
    <script src="~/js/components/carousel1.js" type="module"></script>
    <script src="~/js/components/content-banner1.js" type="module"></script>
    <script src="~/js/components/content-banner2.js" type="module"></script>
    <script src="~/js/components/content-banner3.js" type="module"></script>
    <script src="~/js/components/content-banner4.js" type="module"></script>
    <script src="~/js/components/content-banner5.js" type="module"></script>
    <script src="~/js/components/direction-heading.js" type="module"></script>
    <script src="~/js/components/features.js" type="module"></script>
    <script src="~/js/components/footer.js" type="module"></script>
    <script src="~/js/components/icons.js" type="module"></script>
    <script src="~/js/components/incentives.js" type="module"></script>
    <script src="~/js/components/join-following.js" type="module"></script>
    <script src="~/js/components/login.js" type="module"></script>
    <script src="~/js/components/product-detail.js" type="module"></script>
    <script src="~/js/components/products.js" type="module"></script>
    <script src="~/js/components/register.js" type="module"></script>
    <script src="~/js/components/related-products.js" type="module"></script>
    <script src="~/js/components/review.js" type="module"></script>
    <script src="~/js/components/ritual-rewards.js" type="module"></script>
    <script src="~/js/components/search-result.js" type="module"></script>
    <script src="~/js/components/sign-up.js" type="module"></script>
    <script src="~/js/components/slideshow.js" type="module"></script>
    <script src="~/js/components/split-content1.js" type="module"></script>
    <script src="~/js/components/split-cotent2.js" type="module"></script>
    <script src="~/js/components/tiktok-cards.js" type="module"></script>
    <script src="~/js/components/timeline.js" type="module"></script>
    <script src="~/js/components/title.js" type="module"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
