@* @model DeathWishCoffee.Models.ViewModels.AddToCartRequest *@
@using Newtonsoft.Json;
@inject IHttpContextAccessor _httpContext;

@{
   // Lấy chuỗi JSON từ Session
   string cartJson = _httpContext.HttpContext.Session.GetString("Cart");
   var myCart = !string.IsNullOrEmpty(cartJson)
   ? JsonConvert.DeserializeObject<List<DeathWishCoffee.Models.Domain.CartItem>>(cartJson)
   : null;

   string rcmPrsJson = _httpContext.HttpContext.Session.GetString("recommendProducts");
   var recommendProducts = !string.IsNullOrEmpty(rcmPrsJson)
   ? JsonConvert.DeserializeObject<List<DeathWishCoffee.Models.Domain.Product>>(rcmPrsJson)
   : null;

   string userId = _httpContext.HttpContext.Session.GetString("Id");
}

<header class="header">
   <div class="header__container">
      <nav class="navbar">
         <div class="nav-item">
            <a href="/collections/coffee" class="nav-item-link sub-menu-coffee-trigger">Coffee</a>
         </div>
         <div class="nav-item">
            <a href="/subscription" class="nav-item-link">Subscribe & Save</a>
         </div>
         <div class="nav-item">
            <a href="/collections/merch" class="nav-item-link sub-menu-merch-trigger">Merch</a>
         </div>
         <div class="nav__icon bar-icon">
            <svg class="menu-icon-svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
               <path
                  d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
            </svg>
         </div>
         <div class="nav__icon close-icon">
            <svg class="menu-icon-svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
               <path
                  d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
            </svg>
         </div>
      </nav>

      <div class="logo">
         <a href="/">
            <img class="logo-img" src="~/images/logo.png" alt="logo">
         </a>
      </div>

      <nav class="navbar">
         <div class="nav-item">
            <a href="/storelocator" class="nav-item-link">Find In Store</a>
         </div>
         <div class="nav-item">
            <a href="/the-void" class="nav-item-link">The Void</a>
         </div>
         <div class="nav-item">
            <a href="/about" class="nav-item-link">About</a>
         </div>
         <div class="nav__icons-wrap">
            <a href="/account/login" class="icon user-icon">
               <svg class="menu-icon-svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                  <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7
      512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" />
               </svg>
            </a>

            <div class="icon search-icon">
               <svg class="menu-icon-svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                  <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4
      25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0
      1 0 0 288z" />
               </svg>
            </div>

            <div class="icon cart-icon cart-trigger">
               <svg class="menu-icon-svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512">
                  <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37
      53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6
      0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1
      -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z" />
               </svg>
            </div>
         </div>
      </nav>
   </div>
   </div>
</header>

<div class="navside">
   <div class="navside__body">
      <div class="navside__container">
         <div class="navside__item list-menu navside__submenu-coffee__trigger">
            <span class="navside___item__link" href="/">Coffee</span>
            <div class="navside__icon ">
               <svg class="navside__icon__svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                  <path
                     d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
               </svg>
            </div>
         </div>
         <div class="navside__item list-menu navside__submenu-merch__trigger">
            <span class="navside___item__link " href="/">Merch</span>
            <div class="navside__icon">
               <svg class="navside__icon__svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                  <path
                     d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z" />
               </svg>
            </div>
         </div>
         <div class="navside__item">
            <a class="navside___item__link" href="/subscription">Subscribe & Save</a>
         </div>
         <div class="navside__item">
            <a class="navside___item__link" href="/storelocator">Find In Store</a>
         </div>
         <div class="navside__item">
            <a class="navside___item__link" href="/the-void">The Void</a>
         </div>
         <div class="navside__item">
            <a class="navside___item__link" href="/about">About</a>
         </div>
         <div class="navside__item">
            <a class="navside___item__link" href="/">Help & FAQ</a>
         </div>
         <div class="navside__item">
            <a class="navside___item__link" href="/account">Account</a>
         </div>
      </div>

      <div class="navside__submenu coffee">
         <div class="navside__submenu__title navside__submenu-coffee__close-btn">
            <div class="navside__submenu__icon">
               <svg class="navside__submenu__icon__svg" xmlns="http://www.w3.org/2000/svg" height="1em"
                  viewBox="0 0 320 512">
                  <path
                     d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
               </svg>
            </div>
            <span>Coffee</span>
         </div>


         <div class="navside__submenu__products-wrapper">
            <div class="navside__submenu__products-item">
               <a class="navside__submenu__link title" href="/">Brew Format</a>
               <a class="navside__submenu__link item" href="/">Ground</a>
               <a class="navside__submenu__link item" href="/">Whole Bean</a>
               <a class="navside__submenu__link item" href="/">Single-Server Pods</a>
               <a class="navside__submenu__link item" href="/">Instant</a>
            </div>

            <div class="navside__submenu__products-item">
               <a class="navside__submenu__link title" href="/">Everyday Roasts</a>
               <a class="navside__submenu__link item" href="/">Dark Roast</a>
               <a class="navside__submenu__link item" href="/">Espressor Roast</a>
               <a class="navside__submenu__link item" href="/">Medium Roast</a>
               <a class="navside__submenu__link item" href="/">Valhalla Java Odinforce Blend</a>
            </div>

            <div class="navside__submenu__products-item">
               <a class="navside__submenu__link title" href="/">Flavored</a>
               <a class="navside__submenu__link item" href="/">Blue And Buried</a>
               <a class="navside__submenu__link item" href="/">Chocolate Hazelnut</a>
               <a class="navside__submenu__link item" href="/">Pumpkin Chai</a>
               <a class="navside__submenu__link item" href="/">Vanilla</a>
            </div>

            <div class="navside__submenu__products-item">
               <a class="navside__submenu__link title" href="/">Bundles</a>
               <a class="navside__submenu__link item" href="/">Flavored Variety Packs</a>
               <a class="navside__submenu__link item" href="/">Roast Variety Packs</a>
               <a class="navside__submenu__link item" href="/">Coffee & Mug Bundles</a>
            </div>
         </div>
      </div>

      <div class="navside__submenu merch">
         <div class="navside__submenu__title navside__submenu-merch__close-btn">
            <div class="navside__submenu__icon">
               <svg class="navside__submenu__icon__svg" xmlns="http://www.w3.org/2000/svg" height="1em"
                  viewBox="0 0 320 512">
                  <path
                     d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
               </svg>
            </div>
            <span>Merch</span>
         </div>


         <div class="navside__submenu__products-wrapper">
            <div class="navside__submenu__products-item">
               <a class="navside__submenu__link title" href="/">All Merch</a>
               <a class="navside__submenu__link item" href="/">Apparel</a>
               <a class="navside__submenu__link item" href="/">Accessories</a>
               <a class="navside__submenu__link item" href="/">Mugs</a>
               <a class="navside__submenu__link item" href="/">On-The-Go Drinkware</a>
               <a class="navside__submenu__link item" href="/">Storage & Brewing</a>
               <a class="navside__submenu__link item" href="/">Sale</a>
            </div>

            <div class="navside__submenu__products-item">
               <a class="navside__submenu__link title" href="/">Gifting</a>
               <a class="navside__submenu__link item" href="/">Gift Cards</a>
               <a class="navside__submenu__link item" href="/">Coffee & Mug Bundles</a>
               <a class="navside__submenu__link item" href="/">Flavored Variety Packs</a>
               <a class="navside__submenu__link item" href="/">Roast Variety Packs</a>
            </div>
         </div>
      </div>

   </div>
</div>

<div class="sub-menu coffee">
   <div class="sub-menu-container">
      <div class="sub-menu-item">
         <div class="sub-menu-item-thumbnail">
            <img src="~/images/sub-menu-img1.jpg" alt="thumbnail">
         </div>

         <a href="#" class="sub-menu-item-link">
            Everyday roasts
         </a>

         <div class="sub-menu-item-content">
            <a href="/" class="sub-menu-item-content-item">
               Dark Roast
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Espresso Roast
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Medium Roast
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Valhalla Java Odinforce Blend
            </a>
         </div>
      </div>

      <div class="sub-menu-item">
         <div class="sub-menu-item-thumbnail">
            <img src="~/images/sub-menu-img2.jpg" alt="thumbnail">
         </div>

         <a href="#" class="sub-menu-item-link">
            Flavored
         </a>

         <div class="sub-menu-item-content">
            <a href="/" class="sub-menu-item-content-item">
               Blue And Buried
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Chocolate Hazelnut
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Pumpkin Chai
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Vanilla
            </a>
         </div>
      </div>

      <div class="sub-menu-item">
         <div class="sub-menu-item-thumbnail">
            <img src="~/images/sub-menu-img3.jpg" alt="thumbnail">
         </div>

         <a href="#" class="sub-menu-item-link">
            Bundles
         </a>

         <div class="sub-menu-item-content">
            <a href="/" class="sub-menu-item-content-item">
               Roast Variety Packs
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Flavored Variety Packs
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Coffee & Mug Bundles
            </a>
         </div>
      </div>

      <div class="sub-menu-item">
         <div class="sub-menu-item-thumbnail">
            <img src="~/images/sub-menu-img4.jpg" alt="thumbnail">
         </div>

         <a href="#" class="sub-menu-item-link">
            Brew format
         </a>

         <div class="sub-menu-item-content">
            <a href="/" class="sub-menu-item-content-item">
               Ground
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Whole Bean
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Single Serve Pods
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Instant
            </a>
         </div>
      </div>
   </div>
</div>

<div class="sub-menu merch">
   <div class="sub-menu-container">
      <div class="sub-menu-item">
         <div class="sub-menu-item-thumbnail">
            <img src="~/images/sub-menu-img5.jpg" alt="thumbnail">
         </div>

         <a href="#" class="sub-menu-item-link">
            All Merch
         </a>

         <div class="sub-menu-item-content">
            <a href="/" class="sub-menu-item-content-item">
               Apparel
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Accessories
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Mugs
            </a>
            <a href="/" class="sub-menu-item-content-item">
               On-The-Go Drinkware
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Storage & Brewing
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Sale
            </a>
         </div>
      </div>

      <div class="sub-menu-item">
         <div class="sub-menu-item-thumbnail">
            <img src="~/images/sub-menu-img6.jpg" alt="thumbnail">
         </div>

         <a href="#" class="sub-menu-item-link">
            Gifting
         </a>

         <div class="sub-menu-item-content">
            <a href="/" class="sub-menu-item-content-item">
               Gift Cards
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Coffee & Mug Bundles
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Flavored Variety Packs
            </a>
            <a href="/" class="sub-menu-item-content-item">
               Roast Variety Packs
            </a>
         </div>
      </div>
   </div>
</div>

<div class="cart-modal">
   <div class="cart-modal__container">
      <div class="cart-modal__close-btn">
         <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8
0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3
0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
         </svg>
      </div>

      <div class="cart-modal__title">
         Your Cart
      </div>

      <div class="cart-modal__announcemen">
         FREE SHIPPING TO CONTINENTAL US ON ORDERS OVER $50
      </div>

      <div class="cart-modal__progress-bar-wapper">
         <div class="cart-modal__progress-bar-meter"></div>
         <div class="cart-modal__progress-label">You are $50.00 away from FREE SHIPPING!</div>
      </div>

      @* Empty Cart - *@
      @if (myCart == null || myCart.Count <= 0)
      {
         <div class="cart-modal__empty-card">
            <h4>Your cart is empty</h4>
            <p>Add your favorite items to your cart.</p>

            <button>Shop Now</button>
         </div>
      }

      <div class="cart-modal__products">
         @if (myCart != null && myCart.Count > 0)
         {
            <div class="cart-modal__product-no-empty-wrapper">
               @foreach (var cartItem in myCart)
               {
                  <div class="cart-modal__product-no-empty-item">
                     <div class="cart-modal__product-no-empty-body">
                        <div class="cart-modal__product-no-empty-body__thumb">
                           <img src="~/uploads/@cartItem.Product.Images[0].Src" alt="thumbnail">
                        </div>
                        <div class="cart-modal__product-no-empty-body__content">
                           <div class="cart-modal__product-no-empty-body__content__title">
                              <span>@cartItem.Product?.Title</span>

                              <a href="/admin/cart/delete/@cartItem.Id"
                                 class="cart-modal__product-no-empty-body__content__title__icon">
                                 <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                    <path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4
                                       6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0
                                       46.3-19.7 47.9-45L416 128z" />
                                 </svg>
                              </a>
                           </div>
                           <div class="cart-modal__product-no-empty-body__content__count">
                              @cartItem.Product?.Remain remaining
                           </div>

                           <div class="cart-modal__product-no-empty-body__content__amount">
                              <div class="cart-modal__product-no-empty-body__content__amount__btn-wraper">
                                 <form action="/admin/cart/decrease/@cartItem.Id" method="post"
                                    class="cart-modal__product-no-empty-body__content__amount__button minus"
                                    cart-item-id="@cartItem.Id"><button class="w-100 text-light">-</button></form>
                                 <div class="cart-modal__product-no-empty-body__content__amount__amount-show">
                                    @cartItem.Quantity</div>
                                 <form action="/admin/cart/increase/@cartItem.Id" method="post"
                                    class="cart-modal__product-no-empty-body__content__amount__button plus"
                                    cart-item-id="@cartItem.Id"><button class="w-100 text-light">+</button></form>
                              </div>

                              <div class="cart-modal__product-no-empty-body__content__amount__price">
                                 $@cartItem.Price
                              </div>
                           </div>
                        </div>
                     </div>

                     <button class="cart-modal__product-body__btn">
                        Upgrade to subscription & Save 30%
                     </button>
                  </div>
               }
            </div>
         }

         @if (recommendProducts != null && recommendProducts.Count > 0)
         {
            <div class="cart-modal__recommend">
               <h4>Others Also Bought</h4>

               <div class="cart-modal__product-wrapper">
                  @foreach (var item in recommendProducts)
                  {
                     bool isITexist = item.InsideTypes != null && item.InsideTypes.Count > 0;

                     <form action="/admin/cart/add/@userId" method="post" class="cart-modal__product-item">
                        <div class="cart-modal__product-item__body">
                           <img src="~/images/cart-product.jpg" alt="product">

                           <div class="info">
                              <a href="">@item.Title</a>
                              @* <span>$@item.Sizes?[0].Price</span> *@
                           </div>
                           <input class="form-control" name="productId" type="hidden" value="@item.Id">
                           <input type="hidden" name="size" value="@item.Sizes?[0].Label - @item.Sizes?[0].Price"
                              asp-for="Size">
                           <input type="hidden" name="quantity" value="1" asp-for="Quantity">

                           <button class="cart-modal__product-item__body__add-btn"
                              type="@(isITexist ? "button" : "submit")">Add</button>
                        </div>

                        @if (isITexist)
                        {
                           <select name="insideType" class="cart-modal__product-item__selector" asp-for="InsideType">
                              <option value="" selected>Open this select menu</option>
                              @foreach (var insideType in item.InsideTypes)
                              {
                                 <option value="@insideType.Label">@insideType.Label</option>
                              }
                           </select>
                        }
                     </form>
                  }
               </div>
            </div>
         }
      </div>

      @* - Not Empty Cart - *@
      @if (myCart != null && myCart.Count > 0)
      {
         <div class="cart-modal__checkout-container">
            <div class="cart-modal__checkout__discount">
               <input class="cart-modal__checkout__discount__input" type="text" placeholder="Discount Code">
               <button class="cart-modal__checkout__discount__submit-btn">Apply</button>
            </div>
            <div class="cart-modal__checkout__sub-total">
               <div class="cart-modal__checkout__sub-total__heading-wrap">
                  <span>SUBTOTAL (4 Items)</span>
                  @{
                     double subtotal = 0;
                     @foreach (var cartItem in myCart)
                     {
                        subtotal += cartItem.Price * cartItem.Quantity;
                     }

                     Console.WriteLine(subtotal);
                  }

                  <span>$@subtotal</span>
               </div>
               <a href="/checkouts/@userId" class="cart-modal__checkout__sub-total__checkout-btn">
                  <div class="cart-modal__checkout__icon">
                     <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                        <path
                           d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z" />
                     </svg>
                  </div>
                  <span>Checkout</span>
               </a>
               <p class="cart-modal__checkout__sub-total__note">
                  or 4 interest-free installments of $18.74 by <span>AfterPay</span>
               </p>
            </div>
            <div class="cart-modal__checkout__below-wrap">
               <div class="cart-modal__checkout__below__icon">
                  <img src="~/images/checkout-icon.png" alt="">
               </div>
               <p class="cart-modal__checkout__below__text">
                  Military, First Responder, Government Employee and Teacher discount available
               </p>
            </div>
         </div>
      }
   </div>
</div>
