@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@Html.Partial("../../components/Hero.cshtml")
@Html.Partial("../../components/Carousel.cshtml")
@Html.Partial("../../components/IconTitle.cshtml")
@Html.Partial("../../components/Title.cshtml")

@Html.Partial("../../components/Catalogue.cshtml")
@Html.Partial("../../components/SwipeCarousel.cshtml")